@media only screen and (min-width: 375px){}
@media only screen and (min-height: 812px){}

@media only screen and (max-width: 1125px){}
@media only screen and (max-height: 2436px){}
@media only screen and (min-width: 375px) and (orientation: landscape){}
@media only screen and (min-width: 812px) and (orientation: portrait){}

body{
    display: flex;
    background-color: snow;
}
.content-div {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 290px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(26, 19, 19, 0.1);
}

.field-boarder {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid#ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-div {
    display: flex;
    justify-content: center;
}

.submit-Btn {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Clr-Btn {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: 0 auto;
    width: 50px;
    border: 1px solid #7d7c7c;
    border-radius: 5px;
}

.Output-field {
    overflow: scroll;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid#ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}